@import '@/style/variables';
.main{
    background-color: #1c1c1c;

    .container{
        position: relative;
        width: 1200px;
        margin: 0 auto;
        padding: 30px 0 25px 0;
    
        .info-span{
            background-color: $hoverColor;
            color: white;
            padding: 10px 25px;
            position: absolute;
            left: 0;
            top: -20px;
            font-weight: bold;
        }

        .row{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 50px;

            .card{
                width: calc((100% / 6) - 25px);
                height: 185px;
                padding: 15px 0;
                text-align: left;
                color: white;
                margin-bottom: 75px;
    
                div{
                    margin-bottom: 15px;
    
                    .image{
                        width: 100%;
                        max-height: 185px;
                        object-fit: cover;
                    }
                }
    
                span{
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }
        }

        .button{
            color: white;
            width: auto;
            padding: 10px 50px;
            font-size: 12px;
            background-color: $hoverColor;
            cursor: pointer;
            font-weight: bold;
        }
    }    
}